/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.layout-menu {
    display: grid;
    grid-template-columns: 80px 1fr;
    height: 100vh;
}

@media (max-width: 1000px) {
    .layout-menu {
        display: flex;
    }
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #000000;
    -webkit-font-smoothing: antialiased;
}
